@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body, .any_card {
  color: var(--foreground);
  background-color: #4d4855;
  background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
  font-family: Arial, Helvetica, sans-serif;
}


.btn-background {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #434343 74%);
}